
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fff;
      text-align: center;
    }

    header {
      width: 100%;
      background-color: #ff1c0d;
      padding: 20px;
      color: white;
      font-size: 2em;
      font-family: 'Impact', sans-serif;
      position: fixed;
      
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 30px; 
      padding: 120px;
      flex-wrap: wrap;
    }

    .card {
      background-color: #ff1c0d;
      border-radius: 12px;
      width: 250px;
      padding: 15px;
      color: white;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }

    .card img {
      width: 100%;
      border-radius: 8px;
    }

    .card p {
      
      margin-top: 10px;
      font-size: 0.85em;
    }